{%- assign blog = blogs[section.settings.blogSelect] -%}
{% paginate blog.articles by 2 %}
<div class="journal-section">
                      <h2>{{ page.title }}</h2>
                              <div class="row">
<!--                                 <div class="col-md-1 col-lg-1"></div> -->
                                {%- for article in blog.articles limit: section.settings.post_limit -%}
                                <div class="col-md-6 col-lg-6 col-12">
                                  <div class="journal-gallery-images">
                                    {%- if article.image -%}
                                        <img src="{{ article.image | img_url: 'large' }}" class="wedding-img">
                                      {%- endif -%}
                                    <a href="{{ article.url }}"><h3>{{ article.title }}</h3></a>
                                    {% if section.settings.blog_show_date %}
                                    <p>{{ article.published_at | time_tag: format: 'date' }}</p>
                                    {% endif %}
                                    {% if article.excerpt.size > 0 %}
                                    <span>{{ article.excerpt }}</span>
                                    {% else %}
                                    <span>{{ article.content | strip_html | truncate: 150 }}</span>
                                    {% endif %}
                                  </div>
                                  </div>
                                  {% endfor %}
<!--                                  <div class="col-md-1 col-lg-1"></div> -->

                                 
                                </div>
  
                                <div class="row">
                                  {% if paginate.pages > 1 %}
                                  <div class="pagination">
                                    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
                                  </div>
                                {% endif %}
                                </div>
                              </div>
{% endpaginate %}



{% schema %}
  {
    "name": "Blogs",
    "settings": [
    {
      "type": "text",
      "id": "blog-title",
      "label": "Blog Heading Title"
    },
    {
        "type": "blog",
        "id": "blogSelect",
        "label": "Select Blog"
    },
    {
        "type":      "range",
        "id":        "post_limit",
        "min":       2,
        "max":        6,
        "step":      1,
        "label":     "Posts Limit",
      "default":    2
    },
    {
        "type": "checkbox",
        "id": "blog_show_date",
        "default": true,
        "label": "Show Blog Date"
    },
    {
        "type": "checkbox",
        "id": "show_all_blogs",
        "default": true,
        "label": "Show All Blogs"
    }
  ],
  "presets": [
      {
        "category": "Blogs Section",
        "name": "Blogs"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
